.container {
  padding-top: 5%;
  padding-bottom: 14%;
}
/* menu */
.bg-color {
  background-color: #f5f4fa;
  border-bottom: 3px solid #3c408a;
}
nav {
  .navbar-brand {
    color: #3c408a;
    text-decoration: none;
  }
  .navbar-toggler {
    background-color: #f5f4fa;
    border: 1px solid #3c408a;
    color: #3c408a;
  }
  ul li a {
    color: #3c408a;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
  }
  ul li a:hover {
    color: #ffffff;
    background: #3c408a;
    transition: 0.5s;
  }
  ul li a.dropdown-language {
    border: 1px solid #3c408a;
    border-radius: 0.3rem;
    padding: 0.3rem 0.4rem;
    margin: 0.1rem;
  }
  ul li .dropdown-menu {
    border: 1px solid #c5c5dd;
  }
  ul li a.dropdown-item {
    border-radius: 0;
  }
  .btn-language {
    font-size: 15px;
    color: #3c408a;
    border: 1px solid #3c408a;
  }
  .btn-language:hover {
    color: #ffffff;
    background: #3c408a;
  }
  .en-text {
    color: #3c408a;
  }
}
/* end menu */
h1 {
  font-size: 50px;
  color: #3c408a;
}
.img-register {
  width: 35%;
}
.img-jobs {
  width: 35%;
}
.img-update {
  width: 35%;
}
.tick {
  width: 5%;
}
.text-jobs {
  color: #3c408a;
}
.card {
  padding: 1.5em;
  box-shadow: 0 2px 5px #c7c7c7;
  .card-title {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #3c408a;
  }
  .forgot-text {
    color: #000000;
    text-decoration: none;
  }
  .forgot-text:hover {
    color: #3c408a;
  }
  .form-text {
    text-align: center;
    .register-text {
      color: #3c408a;
    }
  }
  input[type="email"] {
    border-radius: 5px;
    width: 100%;
    padding: 5px 10px 5px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #c5c5dd;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  input[type="email"]:hover {
    border: 1px solid #3c408a;
  }
  input[type="email"]:focus {
    box-shadow: 0px 0.5px 5px #3c408a;
  }
  input[type="password"] {
    border-radius: 5px;
    width: 100%;
    padding: 5px 10px 5px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #c5c5dd;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  input[type="password"]:hover {
    border: 1px solid #3c408a;
  }
  input[type="password"]:focus {
    box-shadow: 0px 0.5px 5px #3c408a;
  }
  .btn-register {
    color: #ffffff;
    background-color: #3c408a;
  }
  .btn-register:hover {
    color: #3c408a;
    background-color: #ffffff;
    border: 1px solid #3c408a;
    transition: 0.5s;
  }
}
/* footer */
.card-footer {
  padding: 0;
  background: #3c408a;
  color: #ffffff;
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 0em;
}
