<!-- Menu -->
<nav class="navbar navbar-expand-lg bg-color">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span><i class="fas fa-bars"></i></span>
  </button>
  <a class="navbar-brand ml-5" [routerLink]="['/']">
    <h2>Jobs</h2>
  </a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="mr-auto mt-2 mt-lg-0"></ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-5 mt-2 mt-lg-0">
        <li class="nav-item mr-1">
          <a class="nav-link" [routerLink]="['/']">Search Jobs</a>
        </li>
        <li class="nav-item mr-1">
          <a class="nav-link" [routerLink]="['/resume']">Resume</a>
        </li>
        <li class="nav-item mr-1">
          <a class="nav-link" [routerLink]="['/register']">Register</a>
        </li>
        <li class="nav-item mr-1">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item mr-1">
          <a class="nav-link" [routerLink]="['/employer']">Employer</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle dropdown-language"
            href="#"
            id="navbardrop"
            data-toggle="dropdown"
          >
            <i class="fas fa-globe"></i> TH
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">ไทย</a>
            <a class="dropdown-item" href="#">English</a>
          </div>
        </li>
      </ul>
    </form>
  </div>
</nav>
<div class="container">
  <div class="row mt-3">
    <!-- Search Jobs-->
    <div class="col-md-5 mb-4">
      <div class="card card-search">
        <div class="d-flex align-items-stretch text-center card-flex">
          <div class="col card-icon">
            <button class="btn btn-icon">
              <img src="../../../assets/img/subway.png" />
            </button>
            <div class="card-body card-detail">
              Bst & Mrt
            </div>
          </div>
          <div class="col card-icon">
            <button class="btn btn-icon">
              <img src="../../../assets/img/bus.png" />
            </button>
            <div class="card-body card-detail">
              Bus
            </div>
          </div>
          <div class="col card-icon">
            <button class="btn btn-icon">
              <img src="../../../assets/img/factory.png" />
            </button>
            <div class="card-body card-detail">
              Industrial Estate
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="Location">Location</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>All</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <div class="d-flex justify-content-between">
                <label for="JobCategory">Job Category</label>
                <label for="detail">1/5</label>
              </div>
              <input
                type="text"
                class="form-control"
                id="JobCategory"
                placeholder="All"
              />
            </div>
            <div class="form-group">
              <div class="d-flex justify-content-between">
                <label for="JobCategory">Industries</label>
                <label for="detail">1/5</label>
              </div>
              <input
                type="text"
                class="form-control"
                id="Industries"
                placeholder="All"
              />
            </div>
            <div class="form-group">
              <label for="Salary">Salary (THB)</label>
              <div class="row">
                <div class="col">
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>0</option>
                    <option>5,000</option>
                    <option>10,000</option>
                    <option>15,000</option>
                    <option>20,000</option>
                  </select>
                </div>
                <div class="align-self-center">-</div>
                <div class="col">
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>Above 100,000</option>
                    <option>5,000</option>
                    <option>10,000</option>
                    <option>15,000</option>
                    <option>20,000</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="Disabilities"
              />
              <label class="form-check-label pl-3" for="Disabilities">
                Jobs for People with Disabilities
              </label>
            </div>
            <div class="form-group mt-4">
              <label for="Salary">Keywords</label>
              <input
                type="text"
                class="form-control"
                id="Keywords"
                placeholder="Enter Keywords"
              />
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-search">
                Search
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="row">
        <div class="col d-flex align-items-end">
          <h4 class="mb-0">
            TOTAL JOBS
            <span class="text-total">80,763</span>
            Jobs
          </h4>
        </div>
        <div class="col text-right">
          <img src="../../../assets/img/building_head.gif" class="img-head" />
        </div>
      </div>
      <hr class="mt-0" />
      <!-- Total Jobs -->
      <div class="align-self-stretch mb-3">
        <button type="button" class="btn btn-notification mr-2 mb-2">
          Bangkok area <span class="badge badge-notification">(57,416)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          Eastern <span class="badge badge-notification">(10,651)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          Industrial Estate
          <span class="badge badge-notification">(4,623)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          Central <span class="badge badge-notification">(2,894)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          Northeastern <span class="badge badge-notification">(3,017)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          Overseas <span class="badge badge-notification">(302)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          Northern <span class="badge badge-notification">(1,194)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          Southern <span class="badge badge-notification">(1,346)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          Samut Prakan <span class="badge badge-notification">(7,169)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          Chonburi <span class="badge badge-notification">(5,895)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          Chaing Mai <span class="badge badge-notification">(502)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          Phuket <span class="badge badge-notification">(1,100)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          Sathorn <span class="badge badge-notification">(324)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          Silom <span class="badge badge-notification">(1,232)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          Sukhumvit <span class="badge badge-notification">(930)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          Phaya Thai <span class="badge badge-notification">(793)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          Rangsit <span class="badge badge-notification">(1,081)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          Nakhon Ratchasima
          <span class="badge badge-notification">(376)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          Amata Nakorn Industrial Estate
          <span class="badge badge-notification">(303)</span>
        </button>
      </div>
      <!-- Popular Jobs -->
      <h4 class="mb-0">
        POPULAR JOBS
      </h4>
      <hr class="mt-0" />
      <div class="align-self-stretch mb-3">
        <button type="button" class="btn btn-notification mr-2 mb-2">
          Sale <span class="badge badge-notification">(17,848)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          Administrative <span class="badge badge-notification">(4,399)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          Accounting <span class="badge badge-notification">(3,766)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          QC/QA <span class="badge badge-notification">(5,682)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          Engineering <span class="badge badge-notification">(4,778)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          Marketing <span class="badge badge-notification">(2,900)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          Programmer <span class="badge badge-notification">(3,605)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          Logistics <span class="badge badge-notification">(2,486)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          HR <span class="badge badge-notification">(1,335)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          Finance-Banking <span class="badge badge-notification">(2,620)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          Part-time <span class="badge badge-notification">(1,047)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          Mobile Developer
          <span class="badge badge-notification">(167)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          Real Estate <span class="badge badge-notification">(2,704)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          Automotive <span class="badge badge-notification">(5,162)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          Chinese <span class="badge badge-notification">(1,894)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          Graphic <span class="badge badge-notification">(940)</span>
        </button>
        <button type="button" class="btn btn-notification mr-2 mb-2">
          New Graduates <span class="badge badge-notification">(6,416)</span>
        </button>
      </div>
      <!-- Slide img -->
      <div
        id="carouselExampleCaptions"
        class="carousel slide mb-4"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleCaptions"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="../../../assets/img/Banner/ais.jpeg"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block"></div>
          </div>
          <div class="carousel-item">
            <img
              src="../../../assets/img/Banner/Bkk.jpeg"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block"></div>
          </div>
          <div class="carousel-item">
            <img
              src="../../../assets/img/Banner/jaymart.jpeg"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block"></div>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleCaptions"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleCaptions"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <!-- Top Companies -->
  <h4>TOP COMPANIES</h4>
  <div class="row mb-5">
    <div class="col mb-3 col-p">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              src="../../../assets/img/logo/cpf-detail.jpg"
              class="card-img-top img-cards"
              alt="..."
            />
            <h6 class="card-title card-p">
              บริษัท เจริญโภคภัณฑ์อาหาร จำกัด (มหาชน)
            </h6>
            <p class="text-muted">
              รับสมัครพนักงานหลายตำแหน่ง ด่วน!
            </p>
          </div>
          <div class="card-body flip-card-back">
            <img
              src="../../../assets/img/logo/cpf.jpeg"
              class="card-img-top"
              alt="..."
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col mb-3 col-p">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              src="../../../assets/img/logo/uniqlo-detail.jpg"
              class="card-img-top img-cards"
              alt="..."
            />
            <h6 class="card-title card-p">
              UNIQLO (Thailand) Co., Ltd
            </h6>
            <p class="text-muted">
              เปิดรับสมัครพนักงานจำนวนหลายตำแหน่ง
            </p>
          </div>
          <div class="card-body flip-card-back">
            <img
              src="../../../assets/img/logo/uniqlo.jpg"
              class="card-img-top"
              alt="..."
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col mb-3 col-p">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              src="../../../assets/img/logo/makro-detail.jpg"
              class="card-img-top img-cards"
              alt="..."
            />
            <h6 class="card-title card-p">
              บริษัท สยามแม็คโคร จำกัด (มหาชน)
            </h6>
            <p class="text-muted">
              เปิดรับสมัครพนักงานด่วน! หลายอัตรา
            </p>
          </div>
          <div class="card-body flip-card-back">
            <img
              src="../../../assets/img/logo/makro.jpg"
              class="card-img-top"
              alt="..."
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col mb-3 col-p">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              src="../../../assets/img/logo/thinknet-detail.jpg"
              class="card-img-top img-cards"
              alt="..."
            />
            <h6 class="card-title card-p">
              THiNKNET Co., Ltd.
            </h6>
            <p class="text-muted">
              เปิดรับสมัครพนักงานจำนวนหลายอัตรา
            </p>
          </div>
          <div class="card-body flip-card-back">
            <img
              src="../../../assets/img/logo/thinknet.png"
              class="card-img-top"
              alt="..."
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col mb-3 col-p">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              src="../../../assets/img/logo/lotus-detail.jpg"
              class="card-img-top img-cards"
              alt="..."
            />
            <h6 class="card-title card-p">
              บริษัท เอก-ชัย ดีสทริบิวชั่น จำกัด (มหาชน)
            </h6>
            <p class="text-muted">
              รับสมัครพนักงานหลายตำแหน่งอัตรา
            </p>
          </div>
          <div class="card-body flip-card-back">
            <img
              src="../../../assets/img/logo/lotus.jpg"
              class="card-img-top"
              alt="..."
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Banner -->
  <div class="banner mb-5">
    <img src="../../../assets/img/logo/ais.jpeg" class="img-banner img-fluid" />
  </div>
  <!-- Urgent Jobs -->
  <h4>URGENT JOBS</h4>
  <div class="row">
    <div class="col">
      <div class="card card-urgent">
        <div class="row">
          <div class="col-md-9">
            <div class="card-body">
              <h5>DMP Advanced Solution Network Co., Ltd.</h5>
              <p class="text-muted">
                บริษัทติดตั้งอินเทอร์เน็ตบ้าน AIS FIBRE
                เปิดรับสมัครพนักงานจำนวนหลายตำแหน่ง สนใจ Click!
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <img
              src="../../../assets/img/logo/ais.png"
              class="img-urgent"
              alt="..."
            />
          </div>
        </div>
      </div>
      <div class="card card-urgent">
        <div class="row">
          <div class="col-md-9">
            <div class="card-body">
              <h5>บริษัท อิไลฆ่าคอสเมติกส์ จำกัด</h5>
              <p class="text-muted">
                ผู้เชี่ยวชาญด้านการบำบัดและฟื้นฟูผิวหน้า เปิดรับสมัคร ตำแหน่ง
                Therrapist พนักงานนวดหน้า นวดตัว สนใจ Click!
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <img
              src="../../../assets/img/logo/elisa.png"
              class="img-urgent"
              alt="..."
            />
          </div>
        </div>
      </div>
      <div class="card card-urgent">
        <div class="row">
          <div class="col-md-9">
            <div class="card-body">
              <h5>Summit Capital</h5>
              <p class="text-muted">
                ซัมมิท แคปปิตอล ลิสซิ่ง รับสมัคร
                ตัวแทนขายสินเชื่อส่วนบุคคลจำนวนมาก !!
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <img
              src="../../../assets/img/logo/summit.jpeg"
              class="img-urgent"
              alt="..."
            />
          </div>
        </div>
      </div>
      <div class="card card-urgent">
        <div class="row">
          <div class="col-md-9">
            <div class="card-body">
              <h5>ChikaLicious Dessert Bar</h5>
              <p class="text-muted">
                รับสมัครพนักงานหลายตำแหน่ง สนใจดูรายละเอียดเพิ่มเติม Click!
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <img
              src="../../../assets/img/logo/chika.png"
              class="img-urgent"
              alt="..."
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-urgent">
        <div class="row">
          <div class="col-md-9">
            <div class="card-body">
              <h5>Deliveree (Thailand) Limited</h5>
              <p class="text-muted">
                เป็นบริษัทสตาร์ทอัพที่ทำแอปพลิชั่นสำหรับการขนส่งสินค้าในเชิงธุรกิจ
                รับสมัครพนักงานหลายตำแหน่ง
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <img
              src="../../../assets/img/logo/deliver.png"
              class="img-urgent"
              alt="..."
            />
          </div>
        </div>
      </div>
      <div class="card card-urgent">
        <div class="row">
          <div class="col-md-9">
            <div class="card-body">
              <h5>บริษัท สุมิพล คอร์ปอเรชั่น จำกัด</h5>
              <p class="text-muted">
                ศูนย์รวมเครื่องมืออุตสาหกรรมคุณภาพสูง ดำเนินกิจการมากกว่า 30 ปี
                เปิดรับสมัครพนักงานจำนวนหลายตำแหน่ง
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <img
              src="../../../assets/img/logo/sumipol.png"
              class="img-urgent"
              alt="..."
            />
          </div>
        </div>
      </div>
      <div class="card card-urgent">
        <div class="row">
          <div class="col-md-9">
            <div class="card-body">
              <h5>FITWHEY Co., Ltd.</h5>
              <p class="text-muted">
                จำหน่ายผลิตภัณฑ์อาหารเสริม สร้างกล้ามเนื้อ/เพิ่มน้ำหนัก/ลดไขมัน
                สวัสดิการดี
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <img
              src="../../../assets/img/logo/fw.png"
              class="img-urgent"
              alt="..."
            />
          </div>
        </div>
      </div>
      <div class="card card-urgent">
        <div class="row">
          <div class="col-md-9">
            <div class="card-body">
              <h5>บริษัท น้ำตาลครบุรี จำกัด (มหาชน)</h5>
              <p class="text-muted">
                ดำเนินธุรกิจอุตสาหกรรมอ้อย และน้ำตาลทราย
                รับสมัครพนักงานหลายตำแหน่ง
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <img
              src="../../../assets/img/logo/lks.png"
              class="img-urgent"
              alt="..."
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<div class="card-footer text-center">
  <small> Copyright © 2020 Pitchayatisa. All Rights Reserved.</small>
</div>
