<!-- Menu -->
<nav class="navbar navbar-expand-lg bg-color">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span><i class="fas fa-bars"></i></span>
  </button>
  <a class="navbar-brand ml-5" [routerLink]="['/']">
    <h2>Jobs</h2>
  </a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="mr-auto mt-2 mt-lg-0"></ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-5 mt-2 mt-lg-0">
        <li class="nav-item mr-1">
          <a class="nav-link" [routerLink]="['/']">Search Jobs</a>
        </li>
        <li class="nav-item mr-1">
          <a class="nav-link" [routerLink]="['/resume']">Resume</a>
        </li>
        <li class="nav-item mr-1">
          <a class="nav-link" [routerLink]="['/register']">Register</a>
        </li>
        <li class="nav-item mr-1">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item mr-1">
          <a class="nav-link" [routerLink]="['/employer']">Employer</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle dropdown-language"
            href="#"
            id="navbardrop"
            data-toggle="dropdown"
          >
            <i class="fas fa-globe"></i> TH
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">ไทย</a>
            <a class="dropdown-item" href="#">English</a>
          </div>
        </li>
      </ul>
    </form>
  </div>
</nav>
<!-- Head Cover -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-5 mb-4">
        <h1 class="mb-4">
          Get unrivaled access to a large number of candidates with
          <span class="text-title">Job Ads</span> by
          <span class="text-title">Jobs</span>
        </h1>
        <button type="button" class="btn btn-register ">Register</button>
      </div>
      <div class="col-md-6 pb-0 text-center">
        <video autoplay="autoplay" width="320">
          <source
            src="../../../assets/img/employer/support.mp4"
            type="video/mp4"
          />
        </video>
      </div>
    </div>
  </div>
</div>
<!-- title header -->
<div class="container mt-5">
  <div class="row mg-body">
    <div class="col-md-4">
      <div class="title-img">
        <img
          src="../../../assets/img/employer/invite.jpg"
          alt="..."
          class="img-jobs"
        />
      </div>
      <div class="title-header">
        Top Job searching platform for Job Seekers
      </div>
      <div class="title-body">
        Jobs reaches 3,000,000 Pageviews and 150,000 users per day with 200,000
        active candidates per month.
      </div>
    </div>
    <div class="col-md-4">
      <div class="title-img">
        <img
          src="../../../assets/img/employer/pencil.png"
          alt="..."
          class="img-jobs"
        />
      </div>
      <div class="title-header">
        Edit your job posts with no limits and additional costs
      </div>
      <div class="title-body">
        Edit or change everything from job title, job description or job
        category within your package period.
      </div>
    </div>
    <div class="col-md-4">
      <div class="title-img">
        <img
          src="../../../assets/img/employer/post.jpg"
          alt="..."
          class="img-jobs"
        />
      </div>
      <div class="title-header">
        More Efficient ways to reach Candidates
      </div>
      <div class="title-body">
        Update new jobs directly to email with Jobs Update and Social media such
        as Facebook, Instagram, and Twitter.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="title-img">
        <img
          src="../../../assets/img/employer/office.jpg"
          alt="..."
          class="img-jobs"
        />
      </div>
      <div class="title-header">
        Strengthen your Employer Brand
      </div>
      <div class="title-body">
        Share your company’s culture and information to attract the right
        candidates.job category within your package period.
      </div>
    </div>
    <div class="col-md-4">
      <div class="title-img">
        <img
          src="../../../assets/img/employer/goodnes.png"
          alt="..."
          class="img-jobs"
        />
      </div>
      <div class="title-header">
        Easy to search candidates
      </div>
      <div class="title-body">
        Search the right candidates from job categories, job levels, education,
        and field of study. You can use “Add favorite” to save interesting
        candidates.
      </div>
    </div>
    <div class="col-md-4">
      <div class="title-img">
        <img
          src="../../../assets/img/employer/contact.jpg"
          alt="..."
          class="img-jobs"
        />
      </div>
      <div class="title-header">
        Jobs is ready to help
      </div>
      <div class="title-body">
        Our professional staffs are ready to help making your job posts more
        appealing and attract more candidates.
      </div>
    </div>
  </div>
</div>
